@font-face {
    font-family: spider;
    src: url('The Amazing Spider-Man.ttf'); 
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #d6d6d6; 
    color: #000000;
    overflow-x: hidden; 
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 64px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

.navbar a {
    color: #333;
    text-decoration: none;
    margin: 0 35px;
    transition: color 0.3s ease;
}
.navbar a:hover {
    color: #E62117; 
}
.nav-center {
    font-family: 'Oswald', sans-serif;
    font-size: 19px;
    letter-spacing: 2px;
}

.content-area {
    /* padding: 32px 64px; */
    height: 657px; 
    position: relative;
}
.background-title {
    font-family: spider;
    font-size: 250px;
    line-height: 1;
    margin: 0;
    color: #000000;
    text-transform: uppercase;
    position: absolute;
    top: 10%;
    left: 15%;
    z-index: 1; 
    filter: drop-shadow(15px 15px 7px rgb(56, 56, 56));
}
.hanging-spidey {
    position: absolute;
    width: 300px; 
    top: 250px;
    left: 1260px;
    z-index: 10; 
    filter: drop-shadow(10px 15px 7px black);
}
.main-image-1, .main-image-2, .main-image-3, .main-image-4 {
    position: absolute;
    border: 5px solid #f4f4f4; 
}
.main-image-1 { 
    width: 320px;
    height: 220px;
    object-fit: cover;
    top: 30%;
    left: 55%;
    transform: rotate(7deg);
    z-index: 3; 
    
}
.main-image-2 { 
    width: 300px;
    height: 200px;
    object-fit: cover;
    top: 30%;
    left: 34%;
    transform: rotate(-10deg);
    z-index: 2; 
}
.main-image-3 { 
    width: 290px;
    height: 200px;
    object-fit: cover;
    top: 60%;
    left: 38%;
    transform: rotate(8deg);
    z-index: 4; 
}
.main-image-4 { 
    width: 290px;
    height: 200px;
    object-fit: cover;
    top: 64%;
    left: 55%;
    transform: rotate(-8deg);
    z-index: 5; 
}

.product-details {
    position: absolute;
    top: 50%;
    left: 64px;
    font-size: 13px;
    max-width: 250px;
}
.product-details h3 {
    font-weight: 700;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.product-details p {
    margin-top: 0;
    margin-bottom: 24px;
    color: #474747;
}

.new-collection, .shop-link {
    position: absolute;
    bottom: 32px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
}
.new-collection {
    left: 64px;
}
.shop-link {
    right: 64px;
    text-decoration: none;
    color: #1a1a1a;
}
.shop-link:hover {
    color: #E62117;
}